mixin card-team(props)
    .card-team&attributes(attributes)(data-component='card-team')
        .card-team__content
            .card-team__image
                if props.picture
                    +picture(props.picture).card-team__picture
            if props.name
                .card-team__name=props.name
            if props.job
                .card-team__job=props.job
            .card-team__detail
                if props.showText
                    span.card-team__detail-text=props.showText
                if props.plusIcon
                    +svg(props.plusIcon)(class='card-team__detail-icon')
        .card-team__hovered
            if props.name
                .card-team__hovered-name=props.name
            if props.job
                .card-team__hovered-job=props.job
            if props.text
                .card-team__hovered-text!=props.text
            .card-team__hovered-bottom
                if props.suptitle
                    span.card-team__hovered-suptitle=props.suptitle
                if props.year
                    span.card-team__hovered-year= props.year
            .card-team__hovered-detail
                if props.hideText
                    span.card-team__hovered-detail-text=props.hideText
                if props.minusIcon
                    +svg(props.minusIcon)(class='card-team__hovered-detail-icon')
