mixin button-icon(props)
    if props.href
        a.button-icon&attributes(attributes)(
            data-component='button-icon',
            href=props.href,
            )
            +svg(props.icon)
            span.visually-hidden=props.text
    else
        button.button-icon&attributes(attributes)(
            data-component='button-icon',
            type="button",
        )
            +svg(props.icon)
            span.visually-hidden=props.text
