mixin card-media(props)
    .card-media&attributes(attributes)(data-component='card-media')
        if props.picture
            .card-media__image
                +picture(props.picture).card-media__picture
        .card-media__content
            .card-media__content-top
                if props.labelText
                    .card-media__content-top-label
                        +text-label({ text: props.labelText })(class=props.labelClassList)
                if props.date
                    .card-media__content-top-date=props.date
                if props.topTitle
                    .card-media__content-title=props.topTitle
            .card-media__content-bottom
                if props.href
                    a.card-media__content-title(href=props.href)=props.title
                else
                    .card-media__content-title=props.title
                if props.button
                    .card-media__content-button
                        +button-main(props.button)(class='button-main--white')
