mixin section-hero(props)
    section.section-hero&attributes(attributes)(data-component='section-hero')
        .section-hero__inner
            if props.src
                .section-hero__image
                    +picture({
                        classList: 'section-hero__picture',
                        img: {
                            src: props.src
                        }
                    })
            .section-hero__content
                if props.BackHref
                    a.section-hero__back(href=props.BackHref)
                        +svg('shewron-back').section-hero__back-icon
                        span.section-hero__back-text=props.backText
                if props.title
                    .section-hero__title=props.title
                if props.subtitle
                    .section-hero__subtitle=props.subtitle
                if props.date
                    .section-hero__date=props.date
