mixin section-hero(props)
    section.section-hero&attributes(attributes)(data-component='section-hero')
        .section-hero__inner
            if props.picture
                .section-hero__image
                    +picture(props.picture).section-hero__picture
            .section-hero__content
                if props.backLink
                    a.section-hero__back(href=props.backLink.href)
                        if (props.backLink.icon)
                            +svg(props.backLink.icon).section-hero__back-icon
                        if (props.backLink.text)
                            span.section-hero__back-text=props.backLink.text
                if props.title
                    .section-hero__title=props.title
                if props.subtitle
                    .section-hero__subtitle=props.subtitle
                if props.date
                    .section-hero__date=props.date
