mixin card-project(props)
    a.card-project&attributes(attributes)(data-component='card-project', href=props.href, class=props.cardClassList)
        .card-project__top
            .card-project__top-title=props.title
            .card-project__top-text=props.text
        .card-project__image
            +picture({
                classList: 'card-project__image-picture',
                img:{
                    src: props.src
                }
            })
            .card-project__image-icon
                +svg('card-project-arrow')
            if props.status
                .card-project__image-label
                    +text-label({ text: props.textLabel })
        .card-project__bottom
            .card-project__bottom-col
                .card-project__bottom-col-title Общая площадь
                .card-project__bottom-col-text=props.area
            .card-project__bottom-col
                .card-project__bottom-col-title Период строительства
                .card-project__bottom-col-text=props.date
