mixin card-projects(props)
    a.card-projects&attributes(attributes)(data-component='card-projects', href=props.href, class=props.cardClassList)
        .card-projects__top
            .card-projects__top-title=props.title
            .card-projects__top-text!=props.text
        .card-projects__image
            +picture({
                classList: 'card-projects__image-picture',
                img:{
                    src: props.src
                }
            })
            .card-projects__icon
                +svg('card-projects-arrow')
            if props.textLabel
                .card-projects__label
                    +text-label({ text: props.textLabel })
        .card-projects__bottom
            .card-projects__bottom-col
                .card-projects__bottom-title Общая площадь
                .card-projects__bottom-text!=props.area
            .card-projects__bottom-col
                .card-projects__bottom-title Период строительства
                .card-projects__bottom-text=props.date
