mixin footer(props)
    .footer&attributes(attributes)
        .footer__left
            .footer__left-title!=props.leftTitle
            .footer__left-button
                +button-main({ text: props.contactsText, href: props.contactsHref })(class='button-main--white')
        .footer__right
            .footer__right-logo
                +svg('logo')
            ul.footer__menu
                each item in props.menuList
                    li.footer__menu-item
                        a.footer__menu-link(href=item.href)=item.linkText
            .footer__right-text=props.rightText
            .footer__right-info
                .footer__right-copyright=props.copyright
                a.footer__right-politic(href=props.politicHref)=props.politicText
            .footer__right-dev
                +svg('dev-only')
            .footer__right-up
                +button-icon({ icon: 'arrow-up' })(class='button-icon--sm')
