mixin card-documents(props)
    .card-documents&attributes(attributes)(data-component='card-documents')
        .card-documents__content
            .card-documents__label
                +text-label({ text: props.textLabel })(class='text-label--black')
            .card-documents__title=props.title
            .card-documents__description
                if props.date
                    span.card-documents__description-item=props.date
                if props.size
                    span.card-documents__description-item=props.size
                if props.status
                    span.card-documents__description-item=props.status
        .card-documents__download(class=props.download ? '' : 'is-disabled') Скачать pdf
            +svg('download').card-documents__download-icon
